<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="mqPort" value="5672"/>
    <add key="mqEndpointIP" value="172.21.26.120"/>
    <add key="mqUserName" value="admin"/>
    <add key="mqPassword" value="2020"/>
    <!--虚拟服务器-->
    <add key="mqVirtualHost" value="testhost"/>
    <!--队列名-->
    <add key="mqQueueName" value="test_queue_work1"/>
    <!--交换机名-->
    <add key="mqExchangeName" value="test_exchange_fanout"/>
    <!--暂停N秒，防止CPU爆满的问题 (毫秒)-->
    <add key="mqTimeout" value="1000"/>
    <!--更新失败后，暂停N毫秒-->
    <add key="mqWaitTime" value="600000"/>
    <!-- 文件服务器地址-->
    <add key="fileRemoteHost" value="\\172.21.26.125"/>
    <!-- 文件服务器用户名 -->
    <add key="fileUserName" value="APAC\BIZOrder1"/>
    <!-- 文件服务器密码 -->
    <add key="filePassword" value="WAN2020wan"/>
    <!-- 拉取的文件存放位置 -->
    <add key="fileDirName" value="CustomVersion"/>
    <!-- 替换程序名 -->
    <add key="targetAppName" value="inSight"/>
    <!-- 替换程序目录 -->
    <add key="targetAppDir" value="C:\Program Files (x86)\2020 inSight\10.4.0"/>
    <!-- 当目标程序打开时，提示信息-->
    <add key="InSightAlert" value="检测到InSight存在必需更新的版本，60秒后将自动关闭InSight！"/>
    <!-- 当目标程序打开时，待等多少秒关闭目标程序-->
    <add key="InSightWaitTime" value="60000"/>
  </appSettings>
</configuration>